.app-counter{
    display: flex;
    width: 300px;
    height: 50vh;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.count{
    font-size: 36px;
    margin: 0 20px;
}